.header {
  padding: 92px 49px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.header__menu {
  grid-column: 1/4;
  grid-row-start: 1;
  align-self: center;
}

.header__links-list {
  list-style: circle;
  display: flex;
  gap: 29px;
}

.header__link {
  padding-left: 3px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding-left: 0;
}

.header__link:hover {
  text-decoration: none;
}

.header-logo {
  justify-self: center;
  grid-column: 1/8;
  grid-row-start: 1;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header .contacts {
  justify-self: end;
  grid-column: 6/8;
  grid-row-start: 1;
  align-self: center;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  margin-bottom: 180px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 0;
}

.cover-background {
  background-image: url(../images/cover.jpg);
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover__title-container {
  padding-bottom: 95px;
}

.title {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text-right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  word-spacing: 25px;
}

.bet-button {
  border: 1px solid currentColor;
  width: 257px;
  min-height: 52px;
  background-color: transparent;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  justify-self: end;
}

.bet-button:hover {
  cursor: pointer;
}

.contacts {
  width: 240px;
  line-height: 24.3px;
  font-style: normal;
}

.contacts a:hover {
  text-decoration: none;
}

.contacts__address {
  display: block;
  font-style: normal;
}

.lots {
  padding: 0 50px 181px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  padding: 0 0 27px 40px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  color: #fff;
  margin-bottom: 30px;
}

.card {
  position: relative;
  width: 430px;
  min-height: 450px;
  padding: 50px 40px;
  z-index: 0;
  flex-grow: 1;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  text-decoration: none;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
}

.lots__look-more-link {
  padding-left: 40px;
  text-decoration: underline;
}

.lots__look-more-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.about {
  padding: 0 50px 180px;
  display: grid;
  grid-template-columns: 455px 1fr;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title-container {
  align-self: center;
  justify-self: start;
  text-transform: uppercase;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
}

.about__text {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  padding: 0 50px 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-link {
  text-decoration: none;
}
.footer__menu-link:hover {
  text-decoration: none;
}

.social {
  display: flex;
  gap: 70px;
  justify-content: space-between;
}

.social__image {
  max-width: 50px;
}
